/*
  Documents
*/

section.files-intro {
  // @include divider(top);
}

section.files {
  @include divider(top);
  .file {
    margin-bottom: 4em;

    .file-type {
      color: $c-grey-mid;
      font-weight: 200;
      font-size: 65%;
      letter-spacing: 0.05em;
      margin-left: 0.5em;
      vertical-align: bottom;
    }
  }
  a {
    &[download] {
      &:before {
        content: '\21af';
        @include mobile {
          display: none;
        }
      }
    }
  }
}