/*
  Weeks
*/

.week {
  @include divider(top);

  .week-title {
    margin-bottom: $section-spacing;

    .subject {
      font-weight: normal;
      padding-left: 0.25em;
    }
  }

  .day {
    // counter-increment: days;

    & + .day {
      margin-top: ( $section-spacing * 1.5 );
    }

    .date {
      margin-bottom: 1em;

      .date-weekday {
        a {
          &:before {
            // font-weight: normal;
            // content: counter(days)
            content: '';
          }
        }
      }

      .date-expanded {

      }
    }

    .day-content {
      h5 {
        font-style: italic;
      }
    }

    .checklist {

    }

    .concepts {
      margin-top: 1em;
    }
  }

  &:nth-of-type(odd) {

  }

  &:first-of-type {

  }
}