/*
  Structure, Grid-Independent
*/

.wrapper {
  margin: 0 auto;
  padding: 0 1.5%;
  max-width: $max-width;
  font-size: 0rem;
  @include clearfix;
}

section {
  padding: 0 0 $section-spacing 0;
  &:first-of-type {
    padding-top: $section-spacing;
  }
  & + section {
    // @include divider(top);
  }
}