/*
  Variables
*/

$columns: 12;
$gutter-width: 2%;
$gutter-width-desktop: 2%;
$gutter-width-wide: 2%;
$max-width: 1440px;

$section-spacing: 3rem;


// Breakpoints

$breakpoint-mobile: 640px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1440px;


// Type

// $family-sans: "aktiv-grotesk-std", "Helvetica", "Arial", sans-serif;
$family-sans: "Helvetica", "Arial", sans-serif;


// Color

$c-white: rgb(255, 255, 255);

$c-grey-light: rgb(251, 251, 249);
$c-grey-mid: rgb(210, 210, 205);
$c-grey-charcoal: rgb(60, 60, 60);